################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoBoss/.vs/AutoBoss+/v15
